<div class="about-us-container bg-background-secondary p-4 rounded-md h-full">
  <div class="content-panel">
    <h1 class="text-2xl font-bold mb-2">About Us</h1>
    <p class="text-gray-300 text-justify">
      This dashboard is a comprehensive tool designed to help communities and authorities
      understand, analyze, and prepare for flood risks. Our goal is to provide a clear, intuitive
      platform that transforms complex flood data into actionable insights, helping to protect
      lives, property, and critical infrastructure.
    </p>

    <span class="p-4"></span>

    <h1 class="text-2xl font-bold mb-2">Our Mission</h1>
    <p class="text-gray-300 text-justify">
      Floods are one of the most destructive natural disasters, with impacts that can be devastating
      and long-lasting. By leveraging advanced flood modeling and geospatial analysis, our tool
      empowers users to visualize potential flood events before they happen. This allows for
      informed decision-making, better emergency planning, and more effective mitigation strategies.
    </p>

    <span class="p-4"></span>
    <h1 class="text-2xl font-bold mb-2">Key Features</h1>

    <ul>
      <li class="flex gap-3 text-justify mb-1">
        <i class="fa-solid fa-house-flood-water mt-1"></i>
        <span
          ><strong>Real-time Flood Impact:</strong>
          <span class="text-gray-300">
            Get an instant overview of current flood conditions for any selected area, showing which
            regions, homes, and public assets are at risk.
          </span></span
        >
      </li>
      <li class="flex gap-3 text-justify mb-1">
        <i class="fa-solid fa-chart-pie mt-1"></i>
        <span
          ><strong>Flood Analysis:</strong>
          <span class="text-gray-300">
            Our interactive water level slider allows you to simulate future flood scenarios. By
            adjusting the water level, you can analyze how a flood would spread and which areas
            would be impacted, giving you a powerful tool for hypothetical risk assessment.
          </span></span
        >
      </li>
      <li class="flex gap-3 text-justify mb-1">
        <i class="fa-solid fa-book-atlas mt-1"></i>
        <span
          ><strong>Geospatial Visualization:</strong>
          <span class="text-gray-300">
            The map-centric design provides a clear visual representation of flood data, making it
            easy to understand the extent and depth of potential flooding.
          </span></span
        >
      </li>
    </ul>
  </div>
</div>
